@model MovieDTO

@{
    ViewData["Title"] = "Manage Movies";
}

<body class="background-lightgray">
    <div class="container pt-3 pl-0 pr-0">

        <p>
            <a asp-action="UploadNewMovies" class="btn btn-primary" id="upload-movies-btn">Upload new movies</a>
        </p>

        <h6>@TempData["Message"]</h6>
    </div>

    <partial name="_LoadingPartial" />

    <div class="container pl-0 pr-0">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6 d-flex justify-content-between">
                            <h2>Manage <b>Movies</b></h2>
                            <form asp-action="Index" method="get">
                                <div class="form-actions no-color">
                                    <input type="search" class="form-control-sm border-0 d-inline search-box" id="movie-search" placeholder="Movie keyword" name="SearchString" value="@ViewData["CurrentFilter"]" />
                                    <input input type="hidden" class="form-control" name="PageSize" value="@ViewBag.PageSize">
                                    <input type="submit" value="Search" class="btn btn-secondary" />
                                </div>
                            </form>

                        </div>
                        <div class="col-sm-6">
                            <a href="#addMovieModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Movie</span></a>
                            <a href="#multiDeleteMovieModal" class="btn btn-danger multi-delete" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                        </div>
                    </div>
                </div>
                <div class="table-fixed-head">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" id="checkBoxAll">
                                        <label for="checkBoxAll"></label>
                                    </span>
                                </th>
                                <th><a asp-action="Index" asp-route-SortOrder="@ViewData["TitleSortParm"]">@Html.DisplayNameFor(model => model.Title)</a></th>
                                <th>@Html.DisplayNameFor(model => model.Overview)</th>
                                <th>@Html.DisplayNameFor(model => model.Youtube_path)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Movies?.Count > 0)
                            {
                                @foreach (var item in ViewBag.Movies)
                                {
                                    <tr>
                                        <td>
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="checkboxId" class="chkCheckBoxId checkbox" value="@item.Id">
                                                <label for="checkboxId"></label>
                                            </span>
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.Overview
                                        </td>
                                        <td>
                                            @item.Youtube_path
                                        </td>
                                        <td>
                                            <a href="#editMovieModal" class="edit" data-toggle="modal" data-id="@item.Id" data-title="@item.Title" data-overview="@item.Overview" data-youtube="@item.Youtube_path"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                            <a href="#deleteMovieModal" class="delete" data-toggle="modal" data-id="@item.Id"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="mt-4 d-flex justify-content-between bd-highlight">
                    @{
                        var selectedIndex = (int)ViewBag.PageSize;
                    }

                    <div class="bd-highlight d-flex">
                        <span class="gray-text mr-1">Items per page </span>
                        <form asp-controller="Movie" asp-action="Index" method="get">
                            <input input type="hidden" class="form-control" name="SortOrder" value="@ViewData["CurrentSort"]">
                            <input input type="hidden" class="form-control" name="CurrentFilter" value="@ViewData["CurrentFilter"]">
                            <select class="gray-text" name="PageSize" asp-for="@selectedIndex" onchange="this.form.submit()">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                            </select>
                        </form>
                    </div>

                    <ul class="pagination bd-highlight">

                        @for (var i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                                <a asp-action="Index"
                                   asp-route-SortOrder="@ViewData["CurrentSort"]"
                                   asp-route-PageNumber="@i"
                                   asp-route-PageSize="@ViewBag.PageSize"
                                   asp-route-CurrentFilter="@ViewData["CurrentFilter"]"
                                   class="page-link">@i</a>
                            </li>
                        }

                    </ul>

                </div>

            </div>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addMovieModal" class="modal fade modal-crud">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="modal-header">
                        <h4 class="modal-title">Add Movie</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">

                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Overview" class="control-label"></label>
                            <input asp-for="Overview" class="form-control" />
                            <span asp-validation-for="Overview" class="text-danger"></span>
                        </div>
                        <div class=" form-group">
                            <label asp-for="Youtube_path" class="control-label"></label>
                            <input asp-for="Youtube_path" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editMovieModal" class="modal fade modal-crud">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Movie</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input input type="hidden" class="form-control movie_id" data-val="true" name="Id" value="">
                        @Html.AntiForgeryToken()

                        <div class=" form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input class="form-control movie_title" required type="text" name="Title" value="">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Overview" class="control-label"></label>
                            <textarea class="form-control movie_overview" required name="Overview"></textarea>
                        </div>
                        <div class=" form-group">
                            <label asp-for="Youtube_path" class="control-label"></label>
                            <input class="form-control movie_youtube" type="text" name="Youtube_path" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteMovieModal" class="modal fade modal-crud">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Delete">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Movie</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this movie?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>

                        <input asp-for="Id" input type="hidden" class="form-control movie_id">
                        @Html.AntiForgeryToken()

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Multi Delete Modal HTML -->
    <div id="multiDeleteMovieModal" class="modal fade modal-crud">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="BulkDelete">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Movie</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete these movies?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>

                        @Html.AntiForgeryToken()

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>