@model List<MovieDTO>
@{
    ViewData["Title"] = ViewBag.Genre;
}
<div class="bg-gray pt-2 rounded">
    <div class="container pb-3">
        <h3>@ViewBag.Genre Movies</h3>
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch ">
                    <div class="card mt-4">
                        <a asp-action="GetMovieById" asp-route-id="@movie.Id" class="card-link text-decoration-none text-reset">
                            <img class="card-img-top" src="@movie.Poster_small_path" alt="Card image cap" loading="lazy"
                                 decoding="async">
                            <div class="circle" data-value="@(movie.Vote_average/10)">
                                <span>@movie.Vote_average</span>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>

        <div class="clearfix mt-4">
            <ul class="pagination">

                @for (var i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                        <a asp-action="Genre"
                           asp-route-id="@ViewBag.Genre"
                           asp-route-PageNumber="@i"
                           class="page-link">@i</a>
                    </li>
                }

            </ul>

        </div>

    </div>
</div>

